.tfs-wrapper {
    min-height: 100vh;
}

.tfs-main {
    padding-top: 100px;

    @media screen and (max-width: 1200px) {
        padding-top: 80px;
    }

    @media screen and (max-width: 990px) {
        padding-top: 60px;
    }
}

.container-xl {
    max-width: 1300px;
}

.heading {
    font-size: $txt-20 + $txt-16;
    color: $blue;
    font-weight: $font-bold;
    margin-bottom: $txt-30+$txt-5;

    &-subtitle {
        font-size: $txt-16;
        color: $grey-title;

        em {
            font-style: $font-style-normal;
            position: relative;
            text-transform: uppercase;

            padding: 0 $txt-5+$txt-5;

            &:before {
                background: $grey-title;
                position: absolute;
                width: 6px;
                height: 6px;
                content: "";
                left: 0;
                top: 6px;

                border-radius: $round-border-radius;
            }

            &:after {
                background: $grey-title;
                position: absolute;
                width: 6px;
                height: 6px;
                content: "";
                right: 0;
                top: 6px;

                border-radius: $round-border-radius;
            }
        }
    }
}