// list syle check
.list-style-check {
    padding: 0;

    li {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        i {
            color: $orange;
            border: 1px solid $orange;
            border-radius: 50%;
            width: $txt-16;
            height: $txt-16;
            font-size: $txt-12;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: $txt-10;

        }
    }
}

/*tab*/

.responsive-tabs {
    margin-top: 20px;
}

.responsive-tabs-container .tab-content {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-top: none;
}

.responsive-tabs-container[class*="accordion-"] .tab-pane {
    margin-bottom: 15px;
}

.responsive-tabs-container[class*="accordion-"] .accordion-link {
    display: none;
    margin-bottom: 10px;
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-radius: 3px;
    border: 1px solid #ddd;
    color: #333;
}

.responsive-tabs-container[class*="accordion-"] .accordion-link.active {
    border-bottom: medium none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #ff6600;
}

@media (max-width: 767px) {
    .responsive-tabs-container.accordion-xs .nav-tabs {
        display: none;
    }

    .responsive-tabs-container.accordion-xs .accordion-link {
        display: block;
    }

    .responsive-tabs-container[class*="accordion-"] .tab-pane {
        border: 1px solid #ddd;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-width: medium 1px 1px;
        margin-bottom: 10px;
        margin-top: -10px;
        padding: 10px 10px 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .responsive-tabs-container.accordion-sm .nav-tabs {
        display: none;
    }

    .responsive-tabs-container.accordion-sm .accordion-link {
        display: block;
    }

    .responsive-tabs-container[class*="accordion-"] .tab-pane {
        border: 1px solid #ddd;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-width: medium 1px 1px;
        margin-bottom: 10px;
        margin-top: -10px;
        padding: 10px 10px 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .responsive-tabs-container.accordion-md .nav-tabs {
        display: none;
    }

    .responsive-tabs-container.accordion-md .accordion-link {
        display: block;
    }
}

@media (min-width: 1200px) {
    .responsive-tabs-container.accordion-lg .nav-tabs {
        display: none;
    }

    .responsive-tabs-container.accordion-lg .accordion-link {
        display: block;
}
}