// color variables
//-- colors
$blue:#37194D;
$blue-lt: #F7F6F9;
$grey-lt:#F6F6F6;
$blue-txt:#C79EE4;
$green:#6CB524;
$orange:#EEA12D;



//-- font-sizes
$txt-2: 0.125rem;
$txt-3: 0.188rem;
$txt-5: 0.313rem;
$txt-10: 0.625rem;
$txt-12: 0.750rem;
$txt-13: 0.8125rem;
$txt-14: 0.875rem;
$txt-15: 0.938rem;
$txt-16: 1rem;
$txt-18: 1.125rem;
$txt-20: 1.250rem;
$txt-24: 1.500rem;
$txt-28: 1.750rem;
$txt-30: 1.875rem;
$txt-40: 2.500rem;
$txt-50: 3.125rem;


$ff-rhd: 'Red Hat Display',
sans-serif;

$ff-rht: 'Red Hat Text',
sans-serif;