// color variables
//-- colors
$blue:#0570D8;
$blue-lt:#9EE8FF;
$black:#000000;
$grey-lt:#606060;
$grey-lt2:#343434;
$orange:#F6821F;
$white:#FFFFFF;
$grey-title:#A5B7D2;
$light-blue:#E6F3FF;



//-- font-sizes
$txt-2: 0.125rem;
$txt-3: 0.188rem;
$txt-5: 0.313rem;
$txt-10: 0.625rem;
$txt-12: 0.750rem;
$txt-13: 0.8125rem;
$txt-14: 0.875rem;
$txt-15: 0.938rem;
$txt-16: 1rem;
$txt-18: 1.125rem;
$txt-20: 1.250rem;
$txt-24: 1.500rem;
$txt-28: 1.750rem;
$txt-30: 1.875rem;
$txt-40: 2.500rem;
$txt-50: 3.125rem;

// Font family
$ff-rhd: 'Red Hat Display',
sans-serif;

$ff-rht: 'Red Hat Text',
sans-serif;
// Font weight
$font-normal:400;
$font-medium:500;
$font-bold:700;
$font-black:900;
$font-style-normal:normal;
//
$round-border-radius:50%;